<% content_for :title do %><%= t(:about_us) %><% end %>

  <header class="text-center py-5 bg-dark text-white">
    <div class="container">
      <h1 class="display-4 fw-bold"><%= t(:about_us) %></h1>
      <p class="lead"><%= t(:learn_more_about_us) %></p>
    </div>
  </header>
  
  <section class="container py-5">
    <h2 class="text-center mb-4"><%= t(:our_mission) %></h2>
    <p><%= t(:our_mission_desc) %></p>
  
    <h2 class="text-center mb-4"><%= t(:our_values) %></h2>
    <ul>
      <li><%= t(:value_1) %></li>
      <li><%= t(:value_2) %></li>
      <li><%= t(:value_3) %></li>
    </ul>
  </section>
  